@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Julee&family=Julius+Sans+One&display=swap');

/* font-family: 'Handlee', cursive;
font-family: 'Julee', cursive;
font-family: 'Julius Sans One', sans-serif; */
:root{
    --main:rgb(227, 232, 163);
    --font1:'Julius Sans One', sans-serif;
}
body{
    font-family: var(--font1);
}

.navigation{
    position: sticky;
    top: 0;
    z-index: 30;
    background-color: var(--main);
    color: black;
    font-family: var(--font1);
    font-size: 15px;
    font-weight: bolder;
    text-shadow: none;
    box-shadow: 0 3px 10px rgb(85, 85, 85);
}
.navigation2{
    background-color: rgb(169, 216, 169);
}
.navigation2 a{
    color: rgb(20, 0, 134);
    text-decoration: none;
}
.cart-text, .account-text{
    font-size: 12px;
    font-weight: bolder;
    position: relative;

}
.logo{
    width: 120px;
}

.logo-text{
    font-family: 'Julee', cursive;
    color: rgb(255, 28, 168);
    text-shadow: 1px 1px 2px black;
    font-size: 22px;
    transform: translateY(-15px);
}
.icons{
    width: 130px;
    height: 60px;
}
.account-icon{
    width: 20px;
    height: 20px;
}
.cart-icon{
    width: 20px;
    height: 20px;
}   
.cart-btn,.account-cart,.btn-close,.viewall,.login-btn,.showmore{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.navsmall{
    display: none;
}
.searching{
    padding: 20px 0 !important;
    width: 100%;
    background-color: darkseagreen;
}
.offcanvas-header{
    background-color: darkseagreen;
}
.offcanvas-body{

    background-color: var(--main);
}
.group{
    border-radius: 30px;
    height: 50px;
    box-shadow:0 0 5px black;
}
.btn-search{
    background-color: var(--main);
    padding: 0 35px;
    height: 100%;
    border-radius: 30px;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.login-btn{
    border: none !important;
    outline: none !important;
    background-color: var(--main);
    border-radius: 30px;
    color: black;
    width: max-content;
    padding: 0 20px;
    box-shadow:0 0 5px black;
    margin: 0 0 0 10px;
    height: 50px;
}
.input-box{
    padding: 8px;
    width: 100%;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.glider-contain{
    background-image: linear-gradient(rgb(227, 232, 163),rgb(198, 255, 165));
}
.span{
    font-size: 16px;
    font-weight: bolder;
    position: relative;
    transition: left 2s linear;
    cursor: pointer;
    transition: bottom 2s ease-in-out;
   
}
.span:hover{
    color: rgb(0, 0, 123);
    bottom: 3px;
    text-shadow: none;

}
.navigation a{
    text-decoration: none;
}
.span:hover.span::before{
    content: '';
    background-color: rgb(255, 133, 133);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left:0;
}
.account-text:hover.account-text::before{
    content: '';
    background-color: rgba(209, 0, 0, 0.416);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left:0;
}
.cart-text:hover.cart-text::before{
    content: '';
    background-color: rgba(209, 0, 0, 0.416);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left:0;
}
.advertisement{
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url('images/womenshopping.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}
.text-content{
    /* box-shadow:0 0 400px rgb(128, 0, 0); */
    font-family: 'Julee', cursive;
    color: rgba(255, 255, 255, 0.82);
    /* text-shadow: 0 0 5px rgb(255, 255, 255); */
    font-size: 22px;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(128, 128, 128, 0.763);
    padding: 15px;
   
}
.image-content2{
    position: absolute;
    bottom: -110px;
    width: 450px;
    height: 450px;
    right: -110px;
    font-size: 20px;
    opacity: 0.2;
}
.image-content1{
    opacity: 0.2;
    position: absolute;
    top: -110px;
    width: 450px;
    height: 450px;
    left: -110px;
    font-size: 20px;
    opacity: 0.4;
}
.fa-angles-right{
    transition: transform 300ms linear;
    opacity: 0;
    transform: translateX(-5px);
}
.viewall:hover .fa-angles-right{
    opacity: 1;
    transform: translateX(0);
}
.viewall:hover{
    color: black !important;
    background-color: yellow;
}
.viewall:hover a{
    color: black !important;
}
.sug{
    height: 350px ;
}
.suggested{
    background-color: var(--main) !important;
}
.image{
    height: 100%;
    width: 100%;
}
.image img{
    width: 100%;
    height: 80%;
}
.foot{
    text-align: center;
    line-height: 50px;
    padding: 0 10px;
    height: 50px;
    background-color: rgb(150, 255, 4);
}
.click-fav{
    background-color: var(--main);
}
.image1 img {
    /* border-top-left-radius: 80px; */
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.image2 img {
    /* border-top-right-radius: 80px; */
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.image3 img {
    /* border-bottom-left-radius: 80px; */
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.image4 img {
    /* border-bottom-right-radius: 80px; */

    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;}


/* preloader */
/* body{
    overflow: hidden;
} */
/* .preloader{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main);
    height: 100vh;
    width: 100%;
    opacity: 1;
    pointer-events: none;
}.please{
    position: absolute;
    font-size: 20px;
    top: 45%;
    left: 50%;
    transform: translate(-50%);

}
.loader {
    position: absolute;
    top: 37%;
    transform: translate(-50%);
    left: 50%;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #000000;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #000000;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #000000;
  }
    
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  } */
.glider-dot{
    width: 25px;
    height: 10px;
    border-radius: 20px;
}
.col-6 a{
    text-decoration: none;
    color: black;
}
.trending{
    background-color: var(--main);
}
/* .trending::before{
    content: url('images/dice1.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;

} */
/* .back1,.back2{
    z-index: 0;
    position: absolute;
    width: 450px;
    height: 450px;
} */
/* .back1{
    top: 0;
    left: 0;
    transform: translateX(-100px);
}
.back2{
    bottom: 0;
    right: 0;
    transform: translateX(100px);
} */
.col-6 .trend{
    background-color: rgb(244, 244, 244);
    
}
.trend img{
    width: 100%;
}
.addtocart button{ 
    margin-top: 5px;
    width: 95%;
    height: 40px;
    border-width: 0.8px;
}
.addtocart:hover button{ 
    background-color: black;
    color: white;
}
.text-content2{
    background-image: linear-gradient(rgb(137, 255, 137),var(--main));
}
.advertisement2{
    background-color: var(--main);
}
.row{
    overflow: hidden;
}
.each{
    height: 100%;
    overflow: hidden;
    border-radius: 30px;
}
.each img{
    transition: transform 200ms ease-in-out;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}
.each:hover img{
    transform: scale(1.1);
    
}
.today{
    background-color: var(--main);
}
.col-4 .img:hover{
    transform: scale(1.1);
}
.col-4 a{
    height: 100%;
    width: 100%;
}
.col-4 img{
    transition: transform 200ms ease-in-out;
    width: 100%;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    height: 90%;
}
.beauty-products{
    background-color: rgb(162, 255, 162);
}
.apps-icon img{
    width: 150px;
    height: 50px;
}
.shopdrop-logo{
    width: 120px;
    font-family: 'Julee', cursive;
    color: rgb(255, 28, 168);
    text-shadow: 1px 1px 2px black;
    font-size: 22px;
    transform: translateY(18px);
}
.shopdrop-logo .shop{
    transform: translateY(-14px);
    
}
.social-icons img{
    width: 25px;
}
.first-col,.second-col{
    display: flex;
    align-items: start;
    justify-content: start;
}
.first-col ul,.second-col ul{
    list-style: none;
    margin: 0;
}
.first-col ul li,.second-col ul li{
    padding: 7px 0px;
}
.main-box{
    padding-top: 30px;
    /* background-color: var(--main); */
    background-color: rgba(203, 203, 203, 0.263);
}
.footer{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
   
}
.footer a{
    text-decoration: none;
    color: black;
}
.product{
    width: 25%;
    height: 100px;
}
.product img{
    width: 70px;
    height: 100%;
}
.add{
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}
.minus{
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}
.input{
    width: 40px;
    height: 40px;
    border: 0;
}
.beau a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trending .row{
    /* background-repeat: no-repeat; */
    background-size: 1000px 1000px;
    background-attachment: fixed;
    background-position: center;
    background-image: url('images/dice1.png');
}
/* .trending .row:nth-child(3){
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-attachment: fixed;
    background-position: -90px -90px;
    background-image: url('images/dice1.png');
} */

.total-value::before{
        content: '$ ';
}
.total-value::after{
        content: ' /-';
}
.individual-price::before{
        content: '$ ';
        padding-right: 3px;
}
.ifr{
    width: 100%;
    height: 100%;
}
.empty{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.fa-solid{
    color: rgb(84, 84, 84) !important;
}
.fa-regular{
    color: rgb(168, 168, 168) !important;
}











@media screen and (max-width:805px){
    .sug{
        height: 175px;
    }
    
}
@media screen and (max-width:740px) {
    .navbars{
        display: none;
    }
    .navsmall{
        display: block;
    }
    .logo{
        width: 100px;
    }
    .span{
        font-size: 10px;
    }
    .image-content2{
        position: absolute;
        bottom: -50px;
        width: 250px;
        height: 250px;
        right: -50px;
        font-size: 20px;
    }
    .image-content1{
        position: absolute;
        top: -50px;
        width: 250px;
        height: 250px;
        left: -50px;
        font-size: 20px;
    }
    .sug{
        height: 175px;
        
    }
    .navigation{
        position: sticky;
        top: 0;
        z-index: 30;
    }
    .navsmall{
        position: sticky;
        width: 100%;
        top: 80px;
        z-index: 10;
        box-shadow: 0 3px 5px rgb(85, 85, 85);
    }
    .back1,.back2{
        
        width: 300px;
        height: 300px;
    }
    .back1{
        top: 0;
        left: 0;
        transform: translateX(-50px);
    }
    .back2{
        bottom: 0;
        right: 0;
        transform: translateX(50px);
    }
    .text-content{
    color: white;
    }
   .footer{
    padding-left: 20px;
   }
}