@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Julee&family=Julius+Sans+One&display=swap');

/* font-family: 'Handlee', cursive;
font-family: 'Julee', cursive;
font-family: 'Julius Sans One', sans-serif; */
:root{
    --main:rgb(227, 232, 163);
    --font1:'Julius Sans One', sans-serif;
}
body{
    font-family: var(--font1);
}
.btn{
    border: 0 !important;
    outline: 0 !important;
    box-shadow: 0 !important;
}
.navigation{
    background-color: var(--main);
    color: black;
    font-family: var(--font1);
    font-size: 15px;
    font-weight: bolder;
}
.navigation2{
    background-color: darkseagreen;
    color: white;
    text-shadow: 1px 1px 14px black;
    font-weight: bold !important;
}
.cart-text, .account-text{
    font-size: 12px;
    font-weight: bolder;
    position: relative;

}
.logo{
    width: 120px;
}

.logo-text{
    font-family: 'Julee', cursive;
    color: rgb(255, 28, 168);
    text-shadow: 1px 1px 2px black;
    font-size: 22px;
    transform: translateY(-15px);
}
.icons{
    width: 130px;
    height: 60px;
}
.account-icon{
    width: 20px;
    height: 20px;
}
.cart-icon{
    width: 20px;
    height: 20px;
}   
.cart-btn ,.account-cart, .btn-close{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.navsmall{
    display: none;
}
.searching{
    padding: 20px 0 !important;
    width: 100%;
    background-color: darkseagreen;
}

.offcanvas-header{
    background-color: darkseagreen;
}
.offcanvas-body{

    background-color: var(--main);
}
.group{
    border-radius: 30px;
    height: 50px;
    box-shadow:0 0 5px black;
}
.btn-search{
    
    height: 100%;
    border-radius: 30px;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.login-btn{
    border: none !important;
    outline: none !important;
    /* box-shadow: none !important; */
    border-radius: 30px;
    width: max-content;
    padding: 0 20px;
    box-shadow:0 0 5px black;
    margin: 0 0 0 10px;
    height: 50px;
}
.input-box{
    padding: 8px;
    width: 100%;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.glider-contain{
    background-image: linear-gradient(rgb(227, 232, 163),rgb(198, 255, 165));
}
.span{
    font-size: 16px;
    font-weight: bolder;
    position: relative;
    transition: left 2s linear;
    cursor: pointer;
    transition: bottom 2s ease-in-out;
    text-shadow: 0 0 2px black,0 0 10px black;
}
.span:hover{
    color: blue;
    bottom: 3px;
    text-shadow: none;

}
.span:hover.span::before{
    content: '';
    background-color: rgb(255, 133, 133);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left:0;
}
.account-text:hover.account-text::before{
    content: '';
    background-color: rgba(209, 0, 0, 0.416);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left:0;
}
.cart-text:hover.cart-text::before{
    content: '';
    background-color: rgba(209, 0, 0, 0.416);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left:0;
}
.advertisement{
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url('images/womenshopping.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}
.text-content{
    /* box-shadow:0 0 400px maroon; */
    font-family: var(--font1);
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 16px;
    background-color: rgba(128, 128, 128, 0.694);
    padding: 15px;
   
}
.image-content2{
    position: absolute;
    bottom: -110px;
    width: 450px;
    height: 450px;
    right: -110px;
    font-size: 20px;
    opacity: 0.2;
}
.image-content1{
    opacity: 0.2;
    position: absolute;
    top: -110px;
    width: 450px;
    height: 450px;
    left: -110px;
    font-size: 20px;
    opacity: 0.4;
}
.fa-arrow-right{
    transition: transform 500ms linear;
    opacity: 0;
    transform: translateX(-10px);
}
.viewall:hover .fa-arrow-right{
    opacity: 1;
    transform: translateX(0);
}
.sug{
    height: 350px ;
}
@media screen and (max-width:740px) {
    .navbars{
        display: none;
    }
    .navsmall{
        display: block;
    }
    .logo{
        width: 100px;
    }
    .span{
        font-size: 10px;
    }
    .image-content2{
        position: absolute;
        bottom: -50px;
        width: 250px;
        height: 250px;
        right: -50px;
        font-size: 20px;
    }
    .image-content1{
        position: absolute;
        top: -50px;
        width: 250px;
        height: 250px;
        left: -50px;
        font-size: 20px;
    }
    .sug{
        height: 175px;
    }
   
}